{% extends 'base.html' %}
{% block content %}
    <h1>Groups Page</h1>
    <!-- Print already made groups -->
     {% for group in groups %}
        <h2>{{group.name}}</h2>
        <p>{{group.desc}}</p>
        <p>{{group.creator.username}}</p>
         <form action="{{ url_for('main.group_request', group_id=group.group_id) }}" method="post">
            <button type="submit">Join</button>
         </form>
     {% endfor %}

    <!-- Make a new group -->
     <form action="{{url_for('main.new_group')}}" method="post">
        <input type="text" name="Name" placeholder="Group Name">
        <input type="text" name="Desc" placeholder="Group Description">
        <button>Make Group</button>
     </form>
{% endblock %}